<h1>Relatórios de pedidos</h1>
<table border="1" cellpadding="1">
  <% @pedidos_produtos.each do |produto, itens| %>

    <tr>
      <td><%= produto.descricao %></td>
      <td>
        <table border="1" cellpadding="1">
          <% itens.group_by{|i|i.cor.descricao}.each do |cor, qtdes_tamanhos | %>
            <tr>
              <td><%= cor %></td>
              <td>
                <table border="1" cellpadding="1">
                  <% qtdes_tamanhos.group_by{|e|e.tamanho.upcase}.each do |tamanho, quantidades|%>
                    <tr>
                      <td><%= tamanho %></td> 
                      <td><%= quantidades.inject(0){|sum, it|sum += it.quantidade;sum}%></td> 
                    </tr>
                  <% end %> 
                </table>
              </td>
            </tr>
          <% end %> 
        </table>
      </td>
    </tr>
  <% end %>
</tr>
</table>
